body {
  font-family: 'Verdana';
}
.content {
  background-color: #ccc;
  padding: 20px;
}
.sidebar {
  background-color: #aaa;
  padding: 20px;
}
.footer {
  position: fixed;
  bottom: 0vh;
  width: 100%;
  background-color: white;
  padding: 20px;
}
